#background { 
  background: url('../img/code-day.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

body {
	/*chrome puts in a margin on small screens - who knows why*/
	margin:0px;
}

body, h1, p {
	font-family: 'Lato', Arial, sans-serif;
	color:#FFF;
}

#content {
	position: absolute;
	top: 15%;
	bottom:0px;
	left:0px;
	right:0px;
}

h1 {
	font-weight:100;
	text-transform:uppercase;

	font-size:8em;
}

p {
	font-weight:400;
	font-size:2em;
	max-width:65%;
}

h1 > span {
	background-color:rgba(0,0,0,0.5);
	padding-left:3%;
	padding-right:1%;
}

a {
	color:#08C;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
	text-decoration: none;
}

a:hover {
	color:#F73;
}

@media screen and (max-height: 600px) and (min-width: 800px) {
	/*really short but not really narrow, make the text at the top*/
	#content {
		top:0%;
	}
}

@media screen and (max-width: 800px) {
	/*It's a phone*/
	#background {
		display:none;
	}

	/*to make the faces show*/
	/*#background {
		background: url('../img/code-day.jpg') no-repeat right 30%; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}*/

	#content {
		padding:1em;
		top:0%;
	}

	h1, p, h1 > span, p > span {
		background-color:transparent;
		margin:0;
		padding:0;
		color:#000;
		width:100%;
		max-width:100%;
	}
}

@media screen and (max-width: 1130px) and (min-width:801px) {
  p {
  	background-color:rgba(0,0,0,0.5);
	padding-left:3%;
	padding-right:1%;
	line-height:1.5em;
	padding-top:0.25em;
	padding-bottom:0.25em;
  }
}

@media screen and (min-width: 1131px) {
  p > span {
	background-color:rgba(0,0,0,0.5);
	padding-left:3%;
	padding-right:1%;
	line-height:1.5em;
	padding-top:0.25em;
	padding-bottom:0.25em;
  }
}