#title {
	/*-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);*/
	text-shadow: 0 0 1em #FFFFDD;
	color: #FFFFDD;
}

#title-light {
	color: #FFFFDD;
}

body {
	background-color: black;
	background-image: none;
}

.hero-unit {
	background-color: black;
	background-image: none;
}

a {
	color: #FFFFDD;
}