body {
	margin: 0;
	padding: 0;
	background: #151515 url("../img/txtr_wood.png") 0 0;
	/* night mode transitions *//*
	-moz-transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s;*/
}

@font-face {
	font-family:'mavenpro';
	src: url('../fonts/MavenProLight-300.otf');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'governor';
	src: url('../fonts/governor.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

#lightbulb-icon {
	height:6em;
	margin-top:0em;
	float: right;
	margin-right:-2.75em;
}

#title {
	font-family:"governor",Sans-Serif;
	font-size:7em;
	padding:0px;
	margin:0px;
	text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
	opacity:0.9;
	color:#0093C2;
	text-shadow: 0px 3px 8px #2a2a2a;
	display:inline;
	/* night mode transitions */
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
	transition: color 1s;
}

#title-light {
	color:#F73;
	/* night mode transitions */
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
	transition: color 1s;
}

#subtitle {
	font-size:3em;
	/* night mode transitions */
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
	transition: color 1s;
}

.hero-unit {
	width:90%;
	max-width: 650px;
	margin: 0 auto;
	border-radius:20px;
	background-image:url('../img/txtr_fabric.png');
}

a {
	text-decoration:none;
	color:#08C;
	/* night mode transitions */
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
	transition: color 1s;
}

a:hover {
	color:#F73;
	text-decoration:none;
}

p {
	/* night mode transitions */
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
	transition: color 1s;
}